.vscode
.gitattributes
/assets/*
!/assets/tietokantascriptit.txt
/pdf
footer_laaa.php
header_laaa.php
/index.php
kayttoonotto.php
palkitut.php
style1.css
tarkeaa.php
tilaisuudet.php
laatisadminkopsu.css