@charset "UTF-8";

tr.ots-dark td {
    background-image: linear-gradient(
        rgba(128 157 201 / 27%),
        rgba(17 76 163 / 28%)
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #809dc945),
        color-stop(1, #114ca347)
    );
    font-weight: bold;
    color: #2b2b2b;
}

.modal-body {
    overflow-x: hidden;
    padding: 1.1rem;
}

.bg-success-subtle {
    background-color: #d1e7dd;
}
.bg-warning-subtle {
    background-color: #fff3cd;
}
.bg-danger-subtle {
    background-color: #f8d7da;
}
.bg-info-subtle {
    background-color: #cff4fc;
}
.bg-primary-subtle {
    background-color: #cfe2ff;
}
.bg-secondary-subtle {
    background-color: #e2e3e5;
}

.slided {
    transform: translateX(-2em);
    transition: all.5s;
}
.toast {
    min-width: 15rem;
}

h2[data-toggle="collapse"] {
    cursor: pointer;
}

#tulosarkisto tr > td:not([colspan]):last-child {
    text-align: right;
}

.btn-outline-warning:disabled {
    color: #dcc37a;
    border-color: #dcc37a;
}

.modal-dialog {
    max-width: 800px;
}

ol ul > li {
    list-style-type: circle;
}
